POSTGRES_DB=Servify
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

SERVIFY_GOOGLE_CLIENT_IDS=348412190909-rs3acgk18an6d1vs0gamd8ai0jao1f5l.apps.googleusercontent.com,348412190909-n02h5cud2d2jgln79mf7i9q9aoec0ju6.apps.googleusercontent.com
SERVIFY_LINKEDIN_CLIENT_IDS=
SERVIFY_TOKEN_SECRET=generar-un-secreto-largo-y-unico-para-produccion
SERVIFY_ADMIN_EMAIL=servifycommunity@gmail.com

VITE_GOOGLE_CLIENT_ID=348412190909-n02h5cud2d2jgln79mf7i9q9aoec0ju6.apps.googleusercontent.com
